@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
    font-weight: 700;
  }
  h2 {
    @apply text-2xl;
    font-weight: 700;
    line-height: 2.5rem;
  }
  h3 {
    @apply text-xl;
    font-weight: 600;
  }
  P {
    @apply text-base;
    line-height: 1.7rem;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

code {
  @apply bg-stone-200;
  @apply rounded-sm;
  padding: 0 2px;
}

.dark code {
  @apply bg-stone-600;
}

li {
  list-style: disc;
}

ul {
  padding-left: 2rem;
}

blockquote {
  border: 1px solid #e7e5e4;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.5rem;
  border-left: 10px solid #e7e5e4;
}
